{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        ML & DS Site
        {% endblock %}
        
    </title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
<body>
    <header>
        <h1> ML & DS Site</h1>
        <nav>
            <ul class="flex flex-1 flex space-x-4 items-center justify-center sm:items-stretch sm:justify-start">
                <li><a href="/">Главная</a></li>
                <li><a href="/articles/">Статьи</a></li>
                <li><a href="/profiles/">Профиль</a></li>
                <li><a href="/videos/">Видео</a></li>
                <li><a href="/courses/">Курсы</a></li>
                <li><a href="/log_page/" class="underline text-blue-400">Войти</a>/<a href="/reg_page/"  class="underline text-blue-400">зарегистрироваться</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Copyright &copy; 2024 kivaari / Storgisl</p>
    </footer>
</body>
</html>