{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DS&ML{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kranky&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap">
    <link rel="stylesheet"  href="{% static 'main_page/css/main.css' %}">
    {% block extrahead %}{% endblock extrahead %}
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'base' %}">DS & ML</a></li>
            <li class="nav-btn-box">
                <a class="nav-btn" href="{% url 'articles' %}">ARTICLES</a>
                <a class="nav-btn" href="{% url 'courses' %}">COURSES</a>
                <a class="nav-btn" href="{% url 'videos' %}">VIDEOS</a>
                <a class="nav-btn" href="{% url 'profile' %}">PROFILE</a>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock content %}

</body>

</html>                                     