{% extends 'main_page/index.html' %}
{% load static %}
{% block title %}Videos{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet"  href="{% static 'videos/css/videos.css' %}">
{% endblock extrahead %}
{% block content %}

    <h2>Educational videos</h2>
    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Search...">
            <button type="submit" class="searchButton">
                <img src="https://www.svgrepo.com/show/522443/search.svg" class="search-img", alt=" ">
            </button>
        </div>
    </div>
    <div class="video-section">
    
    {% for data in video %}
        <div class="video-row">
            <div class="vs">
                <a href="{{data.url}}" target="_blank">
                <img src="{{ data.preview.url }}" alt="{{ data.url }}" class="video-img">
                <p class="video-name">{{ data.title }}</p>
            </a>
            </div>

    

    <script src="{% static 'video/script.js' %}"></script>
    {% endfor %}
 </div>
{% endblock content%}