{% extends 'main_page/index.html' %}
{% load static %}
{% block title %}Videos{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet"  href="{% static 'videos/css/videos.css' %}">
{% endblock extrahead %}
{% block content %}

    <h2>Educational videos</h2>

    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Search...">
            <button type="submit" class="searchButton">
                <img src="https://www.svgrepo.com/show/522443/search.svg" class="search-img", alt=" ">
            </button>
        </div>
    </div>

    <div class="video-section">
        <div class="video-row">
            <div class="vs">
                <img src="{{ video.preview.url }}" alt="" class="video-img" href="{{ video.url.url }}">
                <p class="video-name">{{ videos.title.url }}</p>
            </div>

    </div>

    <script src="{% static 'video/script.js' %}"></script>
{% endblock content%}