{% extends 'main_page/index.html' %}
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet"  href="{% static 'videos/css/videos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kranky&display=swap" rel="stylesheet">
</head> -->
{% load compress %}
{% load static %}

{% block title %}
Видео - ML & DS Site
{% endblock %}

{% block content %}
<section>
    <h2>Видео по машинному обучению и науке о данных</h2>
    <ul>
        {% for video in videos %}
        <li><a href="{% url 'video_detail' video.id %}">{{ video.title }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
