/* videos/static/videos/style.css */

/* Стили для списка видео */
.video {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.video h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.video p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Стили для ссылок на видео */
.video a {
    color: #007bff;
    text-decoration: none;
}

.video a:hover {
    text-decoration: underline;
}
