@import url('https://fonts.googleapis.com/css2?family=Kranky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


/* search */

h2 {
    position: relative;
    top: 80px;
}

.wrap {
    width: 100%;
    position: relative;
    top: 90px;
    max-width: 1100px;
    justify-content: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.searchTerm {
    width: 100%;
    max-width: 1100px;
    border: 0px solid #000000;
    padding: 10px;
    height: 60px;
    border-radius: 20px;
    background: transparent;
    outline: none;
    color: #000000;
    font-size: 32px;
}

.searchTerm::placeholder {
    text-align: left;
}

.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.searchTerm:focus{
    color: #000000;
    font-size: 32;
}

.search-img {
    width: 30px;
    height: 30px;
}

.searchButton:active {
    background-color: rgba(0, 0, 0, 0.2); /* Цвет при нажатии */
}

.searchButton:active .search-img {
    filter: brightness(80%); /* Уменьшение яркости при нажатии */
}

.video-section {
    width: 100%;
    position: relative;
    top: 140px;
    max-width: 1100px;
}

.video-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.vs {
    margin-right: 20px;
    margin-left: right;
    cursor: pointer;
}

.vs2 {
    margin-bottom: 40px;
    margin-left: auto;
    cursor: pointer;
}

.video-img {
    width: 450px;
    height: 250px;
    border-radius: 30px;
    display: block;
    margin-bottom: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.video-name {
    font-size: 24px;
    font-weight: 400;
    font-family: 'JetBrains Mono', monospace;
    text-align: center; /* Выравниваем текст по центру */
}