<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atricles</title>
    <link rel="stylesheet"  href="a.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kranky&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="C:\Users\Kivaari\Desktop\kur\Kursach\templates\main_page\main.html">DS & ML</a></li>
            <li class="nav-btn-box">
                <a class="nav-btn" href="C:\Users\Kivaari\Desktop\kur\Kursach\templates\articles\articles.html">ARTICLES</a>
                <a class="nav-btn" href="C:\Users\Kivaari\Desktop\kur\Kursach\templates\courses\courses.html">COURSES</a>
                <a class="nav-btn" href="C:\Users\Kivaari\Desktop\kur\Kursach\templates\videos\videos.html">VIDEOS</a>
                <a class="nav-btn" href="C:\Users\Kivaari\Desktop\kur\Kursach\templates\profiles\profile_m.html">PROFILE</a>
            </li>
        </ul>
    </nav>

    <h1>
        Articels for every taste
    </h1>

    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Search...">
            <button type="submit" class="searchButton">
                <img src="https://www.svgrepo.com/show/522443/search.svg" class="search-img", alt=" ">
            </button>
        </div>
    </div>
  
    <div class="sorting">
      <h2>Sorting:</h2>
      <select class="sort">
        <option selected>none</option>
        <option value="1">latest</option>
        <option value="2">oldest</option>
        <option value="3">popular</option>
        <option value="4">most likes</option>
      </select>
    </div>
    <div class="line"></div>
  
  
    <div class="main">
        <h3>CLASSIC MACHINE LEARNING</h3>
      
        <div class="line-2"></div>
      
        <section class="product">
            <button class="pre-btn"><img src="prev.svg" alt="" class="bim"></button>
            <button class="nxt-btn"><img src="next.svg" alt="" class="bim"></button>

            <div class="product-container">
                <div class="product-card">
                    <div class="product-img">
                        <img src="c_ml_linear.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Linear models</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="GB.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Gradient Boosting</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="SVM.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: SVM`s</span>
                        </div>
                    </div>
                </div>


                <div class="product-card">
                    <div class="product-img">
                        <img src="naiveb.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Naive Bayes</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="metrics.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Metrics</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="DT.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Decision tree</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="ensemble.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Ensemble</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="crossval.webp" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Cross validation</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="united.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: United models</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="c_ml_linear.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 1</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="GB.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 2</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="SVM.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 3</span>
                        </div>
                    </div>
                </div>


                <div class="product-card">
                    <div class="product-img">
                        <img src="naiveb.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 4</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="metrics.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 5</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="DT.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 6</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="ensemble.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 7</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="crossval.webp" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 8</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="united.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 9</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


    <div class="main">
        <h3>COMPUTER VISION</h3>
      
        <div class="line-2"></div>
      
        <section class="product">
            <button class="pre-btn"><img src="prev.svg" alt="" class="bim"></button>
            <button class="nxt-btn"><img src="next.svg" alt="" class="bim"></button>

            <div class="product-container">
                <div class="product-card">
                    <div class="product-img">
                        <img src="c_ml_linear.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Linear models</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="GB.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Gradient Boosting</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="SVM.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: SVM`s</span>
                        </div>
                    </div>
                </div>


                <div class="product-card">
                    <div class="product-img">
                        <img src="naiveb.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Naive Bayes</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="metrics.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Metrics</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="DT.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Decision tree</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="ensemble.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Ensemble</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="crossval.webp" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Cross validation</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="united.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: United models</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="c_ml_linear.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 1</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="GB.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 2</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="SVM.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 3</span>
                        </div>
                    </div>
                </div>


                <div class="product-card">
                    <div class="product-img">
                        <img src="naiveb.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 4</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="metrics.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 5</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="DT.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 6</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="ensemble.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 7</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="crossval.webp" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 8</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="united.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 9</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <div class="main">
        <h3>DATA ANALYSIS</h3>
      
        <div class="line-2"></div>
      
        <section class="product">
            <button class="pre-btn"><img src="prev.svg" alt="" class="bim"></button>
            <button class="nxt-btn"><img src="next.svg" alt="" class="bim"></button>

            <div class="product-container">
                <div class="product-card">
                    <div class="product-img">
                        <img src="c_ml_linear.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Linear models</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="GB.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Gradient Boosting</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="SVM.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: SVM`s</span>
                        </div>
                    </div>
                </div>


                <div class="product-card">
                    <div class="product-img">
                        <img src="naiveb.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Naive Bayes</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="metrics.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Metrics</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="DT.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Decision tree</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="ensemble.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Ensemble</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="crossval.webp" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Cross validation</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="united.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: United models</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="c_ml_linear.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 1</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="GB.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 2</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="SVM.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 3</span>
                        </div>
                    </div>
                </div>


                <div class="product-card">
                    <div class="product-img">
                        <img src="naiveb.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 4</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="metrics.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 5</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="DT.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 6</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="ensemble.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 7</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="crossval.webp" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 8</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="united.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 9</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <div class="main">
        <h3>DATA ENGINEERING</h3>
      
        <div class="line-2"></div>
      
        <section class="product">
            <button class="pre-btn"><img src="prev.svg" alt="" class="bim"></button>
            <button class="nxt-btn"><img src="next.svg" alt="" class="bim"></button>

            <div class="product-container">
                <div class="product-card">
                    <div class="product-img">
                        <img src="c_ml_linear.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Linear models</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="GB.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Gradient Boosting</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="SVM.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: SVM`s</span>
                        </div>
                    </div>
                </div>


                <div class="product-card">
                    <div class="product-img">
                        <img src="naiveb.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Naive Bayes</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="metrics.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Metrics</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="DT.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Decision tree</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="ensemble.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Ensemble</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="crossval.webp" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: Cross validation</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="united.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: United models</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="c_ml_linear.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 1</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="GB.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 2</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="SVM.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 3</span>
                        </div>
                    </div>
                </div>


                <div class="product-card">
                    <div class="product-img">
                        <img src="naiveb.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 4</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="metrics.png" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 5</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="DT.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 6</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="ensemble.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 7</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="crossval.webp" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 8</span>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="product-img">
                        <img src="united.jpg" class="product-thumb" href="#" alt="">
                        <div class="text-span">
                            <span class="a-name" href="#">HOW IT WORKS: 9</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <div class="footer">
        Kivaari & Storgi ^C 2024
    </div>

    <script src="script.js"></script>
</body>

</html>