{% extends 'main_page/index.html' %}
{% load static %}
{% block title %}Articles{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet"  href="{% static 'articles/css/a.css' %}">
{% endblock extrahead %}
{% block content %}
    <h1>
        Articles for every taste
    </h1>

    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Search...">
            <button type="submit" class="searchButton">
                <img src="https://www.svgrepo.com/show/522443/search.svg" class="search-img", alt=" ">
            </button>
        </div>
    </div>
  
    <div class="sorting">
      <h2>Sorting:</h2>
      <select class="sort">
        <option selected>none</option>
        <option value="1">latest</option>
        <option value="2">oldest</option>
        <option value="3">popular</option>
        <option value="4">most likes</option>
      </select>
    </div>
    <div class="line"></div>
  
  
    <div class="main">
        <h3>CLASSIC MACHINE LEARNING</h3>
      
        <div class="line-2"></div>
        
        <section class="product">
            <button class="pre-btn"><img src="{% static 'articles/images/prev.svg' %}" alt="" class="bim"></button>
            <button class="nxt-btn"><img src="{% static 'articles/images/next.svg' %}" alt="" class="bim"></button>

            <div class="product-container">
                <div class="product-card" onclick="window.location.href = ''">
                    <div class="product-img">
                        <img src="{{ article.preview.url }}" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">HOW IT WORKS: Linear models</span>
                        </div>
                    </div>
                </div>

    </div>
    {% endblock content %}

   <!-- {% url 'articles_detail' articles_detail.id %} -->