
{% extends 'main_page/index.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile_settings.css' %}"/>
{% endblock %}
{% block content %}
    <div class="header">
        <div class="settings-div">
            <a href="{% url 'profile' %}"><img src="{% static 'profiles/images/back.svg' %}" alt="Settings" class="settings-img"></a>
        </div>
        <h1>
            Setup your profile
        </h1>
    </div>


    <div class="profile-pic-div">
        <h2>
            {{ user.username }}
        </h2>
        <img src="{{ username.profile.image.url }}" alt="Profile picture" class="profile-pic">
        <button class="edit-pro-pic-btn">
            UPDATE PROFILE PICTURE
        </button>
    </div>

    <div class="soc-edit">
        <div class="img">
            <img src="{% static 'profiles/images/gender.svg' %}" alt="gender" class="soc-img">
            <img src="{% static 'profiles/images/vk.svg' %}" alt="vk" class="soc-img">
            <img src="{% static 'profiles/images/twitter.svg' %}" alt="twitter" class="soc-img">
            <img src="{% static 'profiles/images/github.svg' %}" alt="github" class="soc-img">
            <img src="{% static 'profiles/images/telegram.svg' %}" alt="telegram" class="soc-img">
        </div>
        <div class="fields">
            <form action="." method="post">
                <div class="input-box">
                    <input type="text" placeholder="Gender">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Vk link">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Twitter link">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Github link">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Telegram link">
                </div>
            </form>
        </div>
        
    </div>

    <button type="submit" class="save"> SAVE</button>

    <div class="footer">
        Kivaari & Storgi ^C 2024
    </div>
{% endblock %}