
{% extends 'main_page/index.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}"/>
{% endblock %}
{% block content %}
    <div class="header">
        <h1>
            Your awesome profile
        </h1>

        <div class="settings-div">
            <a href="{% url 'settings' %}"><img src="{% static 'profiles/images/settings.svg' %}" alt="Settings" class="settings-img"></a>
        </div>
    </div>
    
    <div class="profile-div">
        <div class="profile-pic-div">
            <img src="{{ username.profile.image.url }}" alt="Avatar" class="profile-pic">
        </div>

        <div class="profile-info">
            <div class="nick-gen">
                <span class="nickname">{{ user.username }}</span>
                <span class="gender">he/him</span>
            </div>

            <div class="social">Social networks</div>

            <div class="socnick">
                <a href="#"><img src="{% static 'profiles/images/vk.svg' %}" alt="VK" class="social-img"> @kivaari</a>
            </div>

            <div class="socnick">
                <a href="#"><img src="{% static 'profiles/images/twitter.svg' %}" alt="Twitter" class="social-img"> @kivaari</a>
            </div>

            <div class="socnick">
                <a href="#"><img src="{% static 'profiles/images/github.svg' %}" alt="Github" class="social-img"> @kivaari</a>
            </div>

            <div class="socnick">
                <a href="#"><img src="{% static 'profiles/images/telegram.svg' %}" alt="Telegram" class="social-img"> @kivaari</a>
            </div>

        </div>
        
    </div>

    <div class="graph-box">
        <h2>
            YEAR ACTIVITY
        </h2>

        <div class="graph">
            <ul class="months">
                <li>Jan</li>
                <li>Feb</li>
                <li>Mar</li>
                <li>Apr</li>
                <li>May</li>
                <li>Jun</li>
                <li>Jul</li>
                <li>Aug</li>
                <li>Sep</li>
                <li>Oct</li>
                <li>Nov</li>
                <li>Dec</li>
            </ul>
            <ul class="days">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="squares">
                <script>
                    const squares = document.querySelector('.squares');
                    for (var i = 1; i < 365; i++) {
                    const level = Math.floor(Math.random() * 3);  
                    squares.insertAdjacentHTML('beforeend', `<li data-level="${level}"></li>`);
                    }
                </script>
            </ul>
        </div>
    </div>

    <div class="footer">
        Kivaari & Storgi ^C 2024
    </div>
{% endblock %}