<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet"  href="profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kranky&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="C:\Users\Kivaari\Desktop\kur\Kursach\templates\main_page\main.html">DS & ML</a></li>
            <li class="nav-btn-box">
                <a class="nav-btn" href="C:\Users\Kivaari\Desktop\kur\Kursach\templates\articles\articles.html">ARTICLES</a>
                <a class="nav-btn" href="C:\Users\Kivaari\Desktop\kur\Kursach\templates\courses\courses.html">COURSES</a>
                <a class="nav-btn" href="C:\Users\Kivaari\Desktop\kur\Kursach\templates\videos\videos.html">VIDEOS</a>
                <a class="nav-btn" href="C:\Users\Kivaari\Desktop\kur\Kursach\templates\profiles\profile_m.html">PROFILE</a>
            </li>
        </ul>
    </nav>


    <div class="header">
        <h1>
            Your awesome profile
        </h1>

        <div class="settings-div">
            <a href="C:\Users\Kivaari\Desktop\kur\Kursach\templates\profiles\profile_settings.html"><img src="settings.svg" alt="Settings" class="settings-img"></a>
        </div>
    </div>

    <div class="profile-div">
        <div class="profile-pic-div">
            <img src="cat.jpg" alt="Profile picture" class="profile-pic">
        </div>

        <div class="profile-info">
            <div class="nick-gen">
                <span class="nickname">Kivaari</span>
                <span class="gender">he/him</span>
            </div>

            <div class="social">Social networks</div>

            <div class="socnick">
                <a href="#"><img src="vk.svg" alt="VK" class="social-img"> @kivaari</a>
            </div>

            <div class="socnick">
                <a href="#"><img src="twitter.svg" alt="Twitter" class="social-img"> @kivaari</a>
            </div>

            <div class="socnick">
                <a href="#"><img src="github.svg" alt="Github" class="social-img"> @kivaari</a>
            </div>

            <div class="socnick">
                <a href="#"><img src="telegram.svg" alt="Telegram" class="social-img"> @kivaari</a>
            </div>

        </div>
        
    </div>

    <div class="graph-box">
        <h2>
            YEAR ACTIVITY
        </h2>

        <div class="graph">
            <ul class="months">
                <li>Jan</li>
                <li>Feb</li>
                <li>Mar</li>
                <li>Apr</li>
                <li>May</li>
                <li>Jun</li>
                <li>Jul</li>
                <li>Aug</li>
                <li>Sep</li>
                <li>Oct</li>
                <li>Nov</li>
                <li>Dec</li>
            </ul>
            <ul class="days">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="squares">
                <script>
                    const squares = document.querySelector('.squares');
                    for (var i = 1; i < 365; i++) {
                    const level = Math.floor(Math.random() * 3);  
                    squares.insertAdjacentHTML('beforeend', `<li data-level="${level}"></li>`);
                    }
                </script>
            </ul>
        </div>
    </div>

    <div class="footer">
        Kivaari & Storgi ^C 2024
    </div>

</body>

</html>