{% extends 'main_page/base.html' %}
{% load static %}
{% block title %}
Профиль - ML & DS Site
{% endblock %}

{% block content %}
<section>
    <h2>Профиль пользователя</h2>
    <div class="profile-info">
        <img src="{% static 'images/avatar1.jpg' %}" alt="Avatar">
        <p>Имя пользователя: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Зарегистрирован: {{ user.date_joined }}</p>
    </div>
    <h3>Просмотренные статьи:</h3>
    <ul>
        {% for article in viewed_articles %}
        <li>{{ article.title }}</li>
        {%empty%}
        <li>Пользователь еще не просматривал статьи.</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
