<!-- ml_ds_site/templates/index.html -->
{% extends 'base.html' %}

{% block title %}
Главная страница - ML & DS Site
{% endblock %}

{% block content %}
<section>
    <h2>Описание функционала сайта</h2>
    <p>Добро пожаловать на ML & DS Site! Этот сайт предназначен для изучения машинного обучения (ML) и науки о данных (DS). Здесь вы найдете статьи, видео и курсы по различным аспектам ML и DS, а также сможете следить за своим прогрессом.</p>
</section>

<section>
    <h2>Вход на сайт</h2>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="username">Имя пользователя:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Войти">
    </form>
</section>
{% endblock %}
