{% extends 'main_page/index.html' %}

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet"  href="{% static 'courses/css/courses.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kranky&display=swap" rel="stylesheet">
</head> -->

{% load compress %}
{% load static %}

{% block title %}
Курсы - ML & DS Site
{% endblock %}

{% block content %}
<section>
    <h2>Доступные курсы</h2>
    <ul>
        {% for course in courses %}
        <li><a href="{% url 'course_detail' course.id %}">{{ course.title }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
