{% extends 'main_page/index.html' %}
{% load static %}
{% block title %}Courses{% endblock title %}
{% block extrahead %}
    <link rel="stylesheet"  href="{% static 'courses/css/c.css' %}">
{% endblock extrahead %}
{% block content %}
    <h1>
        Courses for every taste
    </h1>

    <div class="wrap">
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Search...">
            <button type="submit" class="searchButton">
                <img src="https://www.svgrepo.com/show/522443/search.svg" class="search-img", alt=" ">
            </button>
        </div>
    </div>

    <div class="line"></div>
  
  
    <div class="main">
        <h3>MOST POPULAR</h3>
      
        <div class="line-2"></div>
      
        <section class="product">
            <button class="pre-btn"><img src="prev.svg" alt="" class="bim"></button>
            <button class="nxt-btn"><img src="next.svg" alt="" class="bim"></button>

            <div class="product-container">
                <div class="product-card" onclick="openPage('https://stepik.org/course/58852/promo#toc?search=3881388506');">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="GPJ.PNG" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PYTHON GENERATION: JUN</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/68343/promo?search=3881388500');">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="GPM.PNG" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PYTHON GENERATION: MID</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/82541/promo?search=3881388494');">
                    <div class="product-img">
                        <span class="price-tag">38$</span>
                        <img src="GPS.PNG" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PYTHON GENERATION: SEN</span>
                        </div>
                    </div>
                </div>


                <div class="product-card" onclick="openPage('https://stepik.org/course/63054/promo?search=3881493989');">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="SQL.jpg" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">INTERACTIVE SQL</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/98974/promo?search=3881388493');">
                    <div class="product-img">
                        <span class="price-tag">38$</span>
                        <img src="GPOOP.png" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PYTHON GENERATION: OOP</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/113918/promo?search=3881388497');">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="GPDBSQL.png" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PYTHON GENERATION: SQL</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/102883/promo?search=3881493988');">
                    <div class="product-img">
                        <span class="price-tag">12$</span>
                        <img src="SQLFE.png" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">SQL FOR EVERYONE</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/122667/promo?search=3881493987');">
                    <div class="product-img">
                        <span class="price-tag">12$</span>
                        <img src="SQLFELVL.png" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">SQL FOR EVERYONE LVL UP</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 9</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 10</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 11</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 12</span>
                        </div>
                    </div>
                </div>


                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 13</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 14</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 15</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 16</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 17</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 18</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="main">
        <h3>PYTHON</h3>
      
        <div class="line-2"></div>
      
        <section class="product">
            <button class="pre-btn"><img src="prev.svg" alt="" class="bim"></button>
            <button class="nxt-btn"><img src="next.svg" alt="" class="bim"></button>

            <div class="product-container">
                <div class="product-card" onclick="openPage('https://stepik.org/course/58852/promo#toc?search=3881388506');">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="GPJ.PNG" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PYTHON GENERATION: JUN</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/68343/promo?search=3881388500');">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="GPM.PNG" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PYTHON GENERATION: MID</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/82541/promo?search=3881388494');">
                    <div class="product-img">
                        <span class="price-tag">38$</span>
                        <img src="GPS.PNG" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PYTHON GENERATION: SEN</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/98974/promo?search=3881388493');">
                    <div class="product-img">
                        <span class="price-tag">38$</span>
                        <img src="GPOOP.png" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PYTHON GENERATION: OOP</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/63085/promo#toc');">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="PINDI.jpg" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PYTHON INDI COURSE</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 6</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 7</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 8</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 9</span>
                        </div>
                    </div>
                </div>


                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 10</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 11</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 12</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 13</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 14</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 15</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="main">
        <h3>C++</h3>
      
        <div class="line-2"></div>
      
        <section class="product">
            <button class="pre-btn"><img src="prev.svg" alt="" class="bim"></button>
            <button class="nxt-btn"><img src="next.svg" alt="" class="bim"></button>

            <div class="product-container">
                <div class="product-card" onclick="openPage('https://stepik.org/course/7/promo?search=3881883513');">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="PCpp.png" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PROGRAMMING ON C++</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/186717/promo?search=3881900530');">
                    <div class="product-img">
                        <span class="price-tag">4$</span>
                        <img src="CppPRACTICUM.png" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PRACTICUM C/C++</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/55918/promo?search=3881900529');">
                    <div class="product-img">
                        <span class="price-tag">13$</span>
                        <img src="CCppB.jpg" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">C/C++ BASICS</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/127753/promo?search=3881900528');">
                    <div class="product-img">
                        <span class="price-tag">12$</span>
                        <img src="CppPROG.jpg" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PROGRAMMING ON C++</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/63458/promo?search=3881900527');">
                    <div class="product-img">
                        <span class="price-tag">4$</span>
                        <img src="CppTHEORY.png" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">THEORY & PRACTICE C++</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 6</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 7</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 8</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 9</span>
                        </div>
                    </div>
                </div>


                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 10</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 11</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 12</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 13</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 14</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 15</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="main">
        <h3>SQL</h3>
      
        <div class="line-2"></div>
      
        <section class="product">
            <button class="pre-btn"><img src="prev.svg" alt="" class="bim"></button>
            <button class="nxt-btn"><img src="next.svg" alt="" class="bim"></button>

            <div class="product-container">

                <div class="product-card" onclick="openPage('https://stepik.org/course/63054/promo?search=3881493989');">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="SQL.jpg" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">INTERACTIVE SQL</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/113918/promo?search=3881388497');">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="GPDBSQL.png" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">PYTHON GENERATION: SQL</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/102883/promo?search=3881493988');">
                    <div class="product-img">
                        <span class="price-tag">12$</span>
                        <img src="SQLFE.png" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">SQL FOR EVERYONE</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/122667/promo?search=3881493987');">
                    <div class="product-img">
                        <span class="price-tag">12$</span>
                        <img src="SQLFELVL.png" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">SQL FOR EVERYONE LVL UP</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="openPage('https://stepik.org/course/133512/promo?search=3882054791');">
                    <div class="product-img">
                        <span class="price-tag">320$</span>
                        <img src="BDSQL.png" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">DATABASES & SQL</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 6</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 7</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 8</span>
                        </div>
                    </div>
                </div>


                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 9</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 10</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 11</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 12</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 13</span>
                        </div>
                    </div>
                </div>

                <div class="product-card" onclick="window.location.href = 'file:///C:/Users/Kivaari/Desktop/kur/Kursach/templates/other_files/404.html';">
                    <div class="product-img">
                        <span class="price-tag">FREE</span>
                        <img src="" class="product-thumb" alt="">
                        <div class="text-span">
                            <span class="a-name">COURSE 14</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="{% static 'courses/script.js' %}"></script>
{% endblock content %}