<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="style_register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kranky&display=swap" rel="stylesheet">
</head>

<body>
    
    <nav class="navbar">
        <ul>
            <li>DS & ML</li>
            <li class="nav-btn-box">
                <button class="nav-btn">RU</button>
                <button class="nav-btn">EN</button>
            </li>
        </ul>
    </nav>

    <h2>Learning is easy</h2>
    <p class="tirn">Try it right now!</p>

    <div class="box">
        <div class="wrapper">
            <form action="">
                <ul>
                    <li class="back-btn-li">
                        <a href="logging_page.html">
                            <img src="src/back_button.svg" alt="Back" class="back-btn">
                        </a>
                    </li>
                    <li class="Reg-txt">Registration</li>
                </ul>

                <div class="upper-row-input">
                    <div class="input-box">
                        <input type="text" placeholder="Email" required>
                    </div>
        
                    <div class="input-box">
                        <input type="text" placeholder="Nickname" required>
                    </div>
                </div>
                
                <div class="lower-row-input">
                    <div class="input-box">
                        <input type="password" placeholder="Password" required>
                    </div>
        
                    <div class="input-box">
                        <input type="date" placeholder="Birth date" required>
                    </div>
                </div>
    
                <button type="submit" class="btn">Sign up</button>

                <div class="social-media-btns">
                    <a href="#"><img src="src/vk_logo.svg" alt="VK" class="social-img"></a>
                    <a href="#"><img src="src/twitter_logo.svg" alt="Twitter" class="social-img"></a>
                    <a href="#"><img src="src/google_logo.svg" alt="Google" class="social-img"></a>
                </div>
        </div>
    </div>

    <div class="footer">
        Kivaari & Storgi ^C 2024
    </div>

</body>

</html>