<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet"  href="{% static 'reg_log_page/css/style_register.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kranky&display=swap" rel="stylesheet">
</head>
<body>
    
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'base'%}">DS & ML</a></li>
            <li class="nav-btn-box">
                <button class="nav-btn">RU</button>
                <button class="nav-btn">EN</button>
            </li>
        </ul>
    </nav>

    <h2>Learning is easy</h2>
    <p class="tirn">Try it right now!</p>

    <div class="box">
        <div class="wrapper">
            <form action="." method="post">
                {% csrf_token %}
                <ul>
                    <li class="back-btn-li">
                        <a href="{% url 'login' %}">
                            <img src="{% static 'reg_log_page/images/back_button.svg' %}" alt="Back" class="back-btn">
                        </a>
                    </li>
                    <li class="Reg-txt">Registration</li>
                </ul>

                <div class="upper-row-input">
                    <div class="input-box"> 
                    {{ user_form.email }}
                    </div>
        
                    <div class="input-box">
                        {{ user_form.username }}
                    </div>
                </div>
                
                <div class="lower-row-input">
                    <div class="input-box">
                        {{ user_form.password1 }}
                    </div>

                    <div class="input-box">
                        {{ user_form.password2 }}
                    </div>    
        
                    <div class="input-box">
                        {{ user_form.birthday }}
                    </div>
                </div>
    
                <button type="submit" class="btn" href="{% url 'base' %}">Sign up</button>

                <div class="social-media-btns">
                    <a href="#"><img src="{% static 'reg_log_page/images/vk_logo.svg' %}" alt="VK" class="social-img"></a>
                    <a href="#"><img src="{% static 'reg_log_page/images/twitter_logo.svg' %}" alt="Twitter" class="social-img"></a>
                    <a href="#"><img src="{% static 'reg_log_page/images/google_logo.svg' %}" alt="Google" class="social-img"></a>
                </div>
        </div>
    </div>
        </form>
    <div class="footer">
        Kivaari & Storgi ^C 2024
    </div>

</body>

</html>